* {
  box-sizing: border-box;
}
.flexbox {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: #fac;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}
.flexbox > div {
  margin: 20px;
  padding: 20px;
  background-color: #00f;
  color: white;
}
.flexbox2 {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  background-color: #f0f;
  flex-wrap: wrap;
}
.flexbox2 > div {
  margin: 20px;
  width: 150px;
  background-color: red;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-size: 2vw; */
  color: #fff;
}
