* {
  box-sizing: border-box;
}
nav ul {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  background-color: aqua;
  flex-wrap: wrap;
}
nav ul li {
  padding: 20px;
  font-size: 1.5vw;
  list-style: none;
}

nav ul li a {
  /* display: block; */
  text-decoration: none;
}
nav ul li:hover {
  background-color: #fff;
  color: aqua;
  cursor: pointer;
}
